body {
    background-color: #fff;
    font-family: rooney-sans, sans-serif;
}
body, body * {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}


#wrapper {
    width: 100%;
    height: 100vh;
}
#wrapper > div {
    width: 50%;
    height: 100%;
    text-align: center;
}
#wrapper > div:first-child {
    float: left;
}
#wrapper > div:last-child {
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

.content {
    width: 75%;
}

.title {
    font-size: 6vh;
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 5px;
}
.subtitle {
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}
.number {
    font-size: 8.5vh;
    font-weight: 700;
    color: #fff989;
    line-height: 1;
}

#button-container {
    width: 50%;
    margin: auto;
}
.content button {
    text-decoration: none;
    transition: all .1s ease-in;
    padding: 1rem;
    width: 12.5rem;
    border-radius: 2.5rem;
    border: 0.125rem solid #fff;
    background-color: transparent;
    color: #fff989;
    box-shadow: 0 0.9375rem 2.5rem 0 rgb(0 0 0 / 10%);
    outline: 0;
    font-weight: 700;
}
.content button:first-child {
    margin-top: 10px;
    margin-bottom: 5px;
}
.content button:last-child {
    margin-bottom: 10px;
}
.content button:first-child::after {
    content: '▲';
    font-size: 1.25rem;
    position: absolute;
    right: 15%;
    left: auto;
    bottom: 15px;
}
.content button:last-child::after {
    content: '▼';
    font-size: 1.25rem;
    position: absolute;
    right: 15%;
    left: auto;
}
.content button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

#vs {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    line-height: 1.3;
    vertical-align: middle;
    font-weight: 700;
}

#score {
    position: absolute;
    color: #fff;
    top: auto;
    bottom: 20px;
    left: 20px;
    right: auto;
    font-size: 1.5rem;
    font-weight: 700;
}


#gameover-wrapper {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    text-align: center;
}
#final-score {
    position: absolute;
    top: calc(50% - 5rem);
    color: #fff989;
    font-weight: 700;
    font-size: 10rem;
}
#gameover-wrapper form {
    position: absolute;
    top: calc(50% + 6rem);
    margin: auto;
}
#gameover-wrapper button {
    text-decoration: none;
    transition: all .1s ease-in;
    padding: 1rem;
    width: 12.5rem;
    border-radius: 2.5rem;
    border: 0.125rem solid #fff;
    background-color: transparent;
    color: #fff989;
    box-shadow: 0 0.9375rem 2.5rem 0 rgb(0 0 0 / 10%);
    outline: 0;
    font-weight: 700;
}
#gameover-wrapper button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
.quote-reference {
    position: absolute;
    top: calc(50% - 7rem);
    color: #fff;
    font-weight: 400;
    font-size: .5rem;
    width: 50%;
    margin: auto;
}
.quote {
    position: absolute;
    width: 50%;
    margin: auto;
    top: calc(50% - 6rem);
    color: #fff;
    font-style: italic;
    font-size: .75rem;
    font-weight: 400;
}
